@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url('https://fonts.googleapis.com/css?family=VT323&subset=latin-ext');

body{
  background: -webkit-radial-gradient(50% 50%, ellipse, #20202D 0%, #101018 75%, #060612 100%);
  background: -moz-radial-gradient(50% 50%, ellipse, #20202D 0%, #101018 75%, #060612 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0; 
    overflow: hidden;
}

.connect{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hackerid{
    font-family: "Orbitron", sans-serif;
    height: 50px;
    font-size: 18px;
}

.connect-button{
    font-family: 'VT323', monospace;
    margin-left: 20px;
    height: 50px;
    width: 100px;
    font-size: 25px;
    margin-top: 20px;
}

p{
    font-family: 'VT323', monospace;
    color: chartreuse;
    font-size: 23px;
    justify-content: center;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  p { font-size: 20px;}
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
border-radius: 0;
}