body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 0;
  text-align: center;
}

#navigator-buttons{
  margin-left: auto;
  margin-right: auto;
  border-spacing: 10px;
  border: 2px dotted black;
  border-radius: 10px;
}

#game-content{
  margin-top:20px;
}

table{
  border: 2px dotted black;
  border-spacing: 10px;
}

input{
  border-radius: 10px;
  padding: 10px;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin: 3px;
  background-color: black;
  font-size: 10px;
}

.navigator button{
  width: 80px;
  height: 80px;
}

.puzzle-button{
  width: 60;
  height: 60;
}

.collapsible {
  padding: 18px;
  width: 100%;
  text-align: left;
}

.content{
  text-align: left;
}
